header{
    width: 100vw;
    height: 3rem;
    background-color: #2d333b;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

h1{
    font-family: 'Inter, Roboto, Arial';
    font-size: 2rem;
    color: #fff;
}